body {
  background-color: rgb(91, 146, 229);
}

/* overskrift h1 design */
h1{
font-style: bold;
font-size: 60px;
}

pre{
  background-color: lightgray;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
